.service{
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 15px;
}
.service img{
    width: 100%;
    height: 300px;
}
.regester-btn{
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.4s;
    position: relative;
    overflow: hidden;
    color: #fff;
    
}
.regester-btn:hover{
    color: #34dbd3(53, 120, 184);
    background-color: bisque;
}
.regester-btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #58dac4;
    z-index: -1;
    transition: 0.4s;
    top: 0;
    border-radius: 0 0 50% 50%;
    height: 180%;
}
.regester-btn:hover::before{
    height: 0%;
}
